h1.carrinhoTitulo{
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.container-removeIcon{
    padding: 0.7em !important;
}

@media screen and (min-width:1024px) {
    .carrinho-container {
        padding: 0% 15%;
        max-width: 100%;
        margin: 0;;
    }
    h1.carrinhoTitulo{
        font-size: 26px;
        padding: 26px 0px 13px;
        color: var(--azul);

    }
    .carrinho-item {
        display: flex;
        align-items: center;
        background-color: #fff;
        margin: 10px 20px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .carrinho-item img {
        max-width: 100px;
        height: auto;
        margin-right: 20px;
    }
    .carrinho-item .item-info {
        flex-grow: 1;
    }
    .carrinho-item .item-info h5 {
        margin: 0;
        font-size: 18px;
    }
    .carrinho-item .item-info p {
        margin: 5px 0;
        color: #666;
    }
    .carrinho-item .item-price,
    .carrinho-item .item-quantity {
        text-align: center;
        margin: 0 10px;
    }
    .carrinho-item .item-remove {
        text-align: center ;
        margin-left: 0px;
    }
    .total-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 20px 0;
    }
    .total-container span {
        font-size: 20px;
        font-weight: bold;
    }
    .botoesCarrinho {
        display: flex;
        justify-content: flex-end; /* Alinha os botões à direita */
        margin: 20px 20px 20px;
    }

}