.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../Icons/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.containers {
    display: flex !important;
    align-items: center !important;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 45vw;
    z-index: 999;
    padding: 0;
}

.lista-menu-admin {
    display: none;
    position: absolute;
    top: 100%;
    width: 45vw;
    z-index: 999;
    padding: 0;
}

.menu-admin {
    padding: 0;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked~.lista-menu-admin {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.boasVindas {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../Icons/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.badge {
    display: none !important;
    background-color: var(--laranja);
    padding: 5px 7px !important;
    color: white;
    border-radius: 60% !important;
    position: absolute;
    top: 37px;
    right: 10%;
    transform: translate(50%, -50%);
    font-size: 12px;
}

@media screen and (min-width:1024px) {
    .cabecalho {
        height: 5em;
        padding: 0 2em;
    }

    .container__texto {
        display: block;
    }

    .boasVindas {
        display: block;
    }

    .container__link {
        display: flex !important;
        align-items: center !important;
        text-decoration: none !important;
        color: var(--preto) !important;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var("fonte-secundario");
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em !important;
        text-transform: uppercase;

    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-coracao {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .boasVindas {
        display: block;
    }

    .opcoes__botao__admin {
        display: none;
    }

    .opcoes__botao__admin:checked~.lista-menu-admin {
        display: block;
        width: auto;
    }

    .opcoes__botao__admin:checked~.opcoes__rotulo__admin>.opcoes__item__admin {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item__admin {
        padding: 0 1em !important;
        text-transform: uppercase;
    }

    .opcoes__item__admin {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


}

@media screen and (min-width: 1024px) and (max-width: 1080px) {


    .badge {
        display: block !important;
        right: 10%;
    }


}

@media screen and (min-width: 1081px) and (max-width: 1300px) {

    .badge {
        display: block !important;
        right: 9%;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1450px) {


    .badge {
        display: block !important;
        right: 8%;
    }
}

@media screen and (min-width: 1451px) and (max-width: 1726px) {

    .badge {
        display: block !important;
        right: 6%;
    }
}

@media screen and (min-width:1728px) {

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

    .boasVindas {
        display: block;
    }
}

@media screen and (min-width: 1728px) and (max-width: 2044px) {


    .badge {
        display: block !important;
        right: 17%;
    }
}

@media screen and (min-width: 2045px) {

    .badge {
        display: block !important;
        right: 12%;
    }
}